:root {
  --cafe: rgb(113, 73, 63);
  --naranja: rgb(255, 89, 0);
  --naranja: rgb(255, 55, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
}
/*/////////////////////////*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.caja {
  min-width: 300px;
  min-height: 300px;
  /* background-color: rgb(203, 203, 203); */
  /* background-image: url(./assets/4.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
.contenedor {
  position: absolute;
  width: 300px;
  height: 300px;
  /* background-color: rgba(255, 0, 0, 0.307); */
}
.cuerpo-delante,
.cuerpo-atras {
  /* background-color: rgba(0, 0, 255, 0.233); */
  position: absolute;
}

.cuerpo-delante div:nth-child(1) {
  position: absolute;
  display: flex;
  background-color: rgb(67, 246, 7);
  background-color: var(--naranja);
  box-shadow: 0 5px 5px 5px black inset;

  width: 135px;
  height: 205px;
  border-radius: 50%;
  top: 73px;
  left: 10px;
}

.cuerpo-delante div:nth-child(2) {
  position: absolute;
  display: flex;
  background-color: rgb(246, 234, 7);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 135px;
  height: 212px;
  border-radius: 50%;
  top: 67px;
  left: 155px;
}

.cuerpo-delante div:nth-child(3) {
  position: absolute;
  display: flex;
  background-color: rgb(204, 0, 255);
  background-color: var(--naranja);

  width: 135px;
  height: 225px;
  border-radius: 50%;
  top: 68px;
  left: 120px;

  box-shadow: 0 5px 5px 5px black inset;
}

.cuerpo-delante div:nth-child(4) {
  position: absolute;
  display: flex;
  background-color: rgb(59, 35, 194);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 135px;
  height: 225px;
  border-radius: 50%;
  top: 68px;
  left: 48px;
}
/* /////////////////////////////////////// */
.cuerpo-detras div:nth-child(1) {
  position: absolute;
  display: flex;
  background-color: rgb(4, 255, 71);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 110px;
  height: 212px;
  border-radius: 49%;
  top: 55px;
  left: 71px;
}

.cuerpo-detras div:nth-child(2) {
  position: absolute;
  display: flex;
  background-color: rgb(255, 4, 4);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 110px;
  height: 212px;
  border-radius: 49%;
  top: 55px;
  left: 121px;
}

.cuerpo-detras div:nth-child(3) {
  position: absolute;
  display: flex;
  background-color: rgb(7, 218, 246);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 120px;
  height: 212px;

  border-radius: 50%;
  top: 60px;
  left: 150px;
}

.cuerpo-detras div:nth-child(4) {
  position: absolute;
  display: flex;
  background-color: rgb(255, 4, 205);
  background-color: var(--naranja);

  box-shadow: 0 5px 5px 5px black inset;

  width: 120px;
  height: 212px;

  border-radius: 49%;
  top: 60px;
  left: 31px;
}

/* /////////////////////////////////////// */
.rabo {
  position: absolute;
}
.rabo div {
  position: absolute;
  display: flex;
  /* background-color: rgba(4, 42, 255, 0.652); */

  width: 180px;
  height: 200px;
  border-radius: 35%;
  top: 86px;
  left: 62px;
}

.rabo div {
  position: absolute;
  display: flex;
  background-color: var(--cafe);
  width: 27px;
  height: 70px;
  top: 20px;
  left: 138px;
  border-radius: 72% 0% 0% 0%;
}

.rabo div:before {
  content: '';
  background-color: var(--cafe);
  width: 23px;
  height: 55px;
  position: absolute;
  transform: rotateZ(35deg);
  top: -17px;
  left: 10px;
  border-radius: 35% 25% 0 45%;
}
.rabo div:after {
  content: '';
  background-color: var(--cafe);
  width: 30px;
  height: 30px;
  transform: rotateZ(45deg);
  top: 40px;
  position: absolute;
}
/* ///////////////////////// */
.cara {
  width: 300px;
  height: 300px;
  /* background-color: rgba(0, 0, 255, 0.296); */
}
.ojo-izquierdo {
  background-color: rgb(0, 255, 26);
  position: absolute;
  width: 65px;
  height: 35px;
  top: 128px;
  left: 170px;

  border-top: 0px solid red;
  border-right: 15px solid rgb(17, 0, 255);
  border-bottom: 10px solid rgb(69, 171, 255);
  border-left: 0px solid rgb(34, 255, 0);

  clip-path: polygon(84% 0, 0 91%, 100% 98%);
  transform: rotate(-10deg);
}

.ojo-derecho {
  background-color: rgb(0, 255, 26);
  position: absolute;
  width: 65px;
  height: 35px;
  top: 128px;
  left: 75px;

  border-top: 0px solid red;
  border-left: 15px solid rgb(0, 4, 255);
  border-bottom: 10px solid rgb(69, 171, 255);
  border-right: 0px solid rgb(34, 255, 0);

  clip-path: polygon(5% 0, 100% 90%, 0 98%);
  transform: rotate(10deg);
}

.nariz {
  background-color: rgb(0, 255, 26);
  position: absolute;
  width: 50px;
  height: 35px;
  top: 165px;
  left: 130px;

  border-top: 0px solid red;
  border-left: 13px solid rgb(0, 38, 255);
  border-bottom: 7px solid rgb(253, 108, 255);
  border-right: 13px solid rgb(51, 0, 255);

  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.nariz:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 10px;
  background-color: rgb(47, 0, 255);
  transform: rotateZ(-67deg);
  top: 3px;
  left: -17px;
}
.nariz:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 10px;
  background-color: rgb(0, 34, 255);
  transform: rotateZ(67deg);
  top: 3px;
  left: 1px;
}
.boca-izquierda {
  /* background-color: rgba(255, 13, 247, 0.329); */
  position: absolute;

  width: 5em;
  height: 4em;
  top: 190px;
  left: 70px;
  border-bottom: 1.7em solid rgb(255, 255, 255);
  border-radius: 0 0 0 100%;
}

.boca-derecha {
  /* background-color: rgba(255, 13, 247, 0.323); */
  position: absolute;

  width: 5em;
  height: 4em;
  top: 190px;
  left: 150px;
  border-bottom: 1.7em solid rgb(255, 255, 255);
  border-radius: 0 0 100% 0;
}
.contenedor-dientes {
  /* background-color: rgba(0, 255, 34, 0.182); */
  width: 300px;
  height: 300px;
  position: relative;
}

.contenedor-dientes > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--naranja);
  /* background-color: blueviolet; */
}

.contenedor-dientes > div:nth-child(1) {
  top: 215px;
  left: 140px;
}
.contenedor-dientes > div:nth-child(2) {
  top: 210px;
  left: 95px;
  transform: rotateZ(20deg);
}
.contenedor-dientes > div:nth-child(3) {
  top: 210px;
  left: 185px;
  transform: rotateZ(-20deg);
}
.contenedor-dientes > div:nth-child(4) {
  top: 240px;
  left: 115px;
  transform: rotateZ(10deg);
}
.contenedor-dientes > div:nth-child(5) {
  top: 240px;
  left: 165px;
  transform: rotateZ(-10deg);
}

/* //////////////////////////////// */
.sombra {
  /* background-color: rgba(21, 0, 255, 0.201); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sombra div {
  background-color: black;
  width: 80%;
  height: 15%;
  border-radius: 100%;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 10px 10px black;
}
