:root {
  --cafe-claro: rgb(113, 73, 63);
  --cafe-oscuro: rgb(67, 42, 36);
  /* --naranja-claro: rgb(255, 89, 0); */
  --naranja-claro: rgb(255, 64, 0);
  /* --naranja-oscuro: rgb(255, 47, 0); */
  --naranja-oscuro: rgb(255, 0, 0);
  --amarillo: rgb(249, 255, 165);
  /* --amarillo: rgb(0, 255, 42); */
  /* --amarillo: rgb(255, 226, 10); */
  /* --amarillo: rgb(98, 255, 67); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
}
/*/////////////////////////*/
body {
  background: linear-gradient(
    rgb(2, 2, 136) 10%,
    rgb(0, 238, 255) 55%,
    rgb(46, 36, 36) 20%
  );

  /* background: linear-gradient(#082c0c 10%, #abc841 55%, #001400 20%); */

  background: linear-gradient(#082c0c 10%, #abc841 55%, #220a33 20%);

  box-shadow: 0 0 500px 0px black inset;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calabaza {
  min-width: 30rem;
  min-height: 30rem;
  /* background-color: rgb(203, 203, 203); */
  /* background-image: url(./assets/4.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.1rem solid black; */

  animation: calabaza 3s linear infinite alternate-reverse;
  transform: scale(1.1, 0.8);
}
.contenedor {
  position: absolute;
  width: 30rem;
  height: 30rem;
  /* background-color: rgba(255, 0, 0, 0.307); */
}
.cuerpo-delante,
.cuerpo-atras {
  /* background-color: rgba(0, 0, 255, 0.233); */
  position: absolute;
}

.cuerpo-delante div:nth-child(1) {
  position: absolute;
  display: flex;
  background-color: rgb(67, 246, 7);
  background-color: var(--naranja-claro);
  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 13.5rem;
  height: 20.5rem;
  border-radius: 50%;
  top: 7.3rem;
  left: 1rem;
}

.cuerpo-delante div:nth-child(2) {
  position: absolute;
  display: flex;
  background-color: rgb(246, 234, 7);
  background-color: var(--naranja-claro);

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 13.5rem;
  height: 21.2rem;
  border-radius: 50%;
  top: 6.7rem;
  left: 15.5rem;
}

.cuerpo-delante div:nth-child(3) {
  position: absolute;
  display: flex;
  background-color: rgb(204, 0, 255);
  background-color: var(--naranja-claro);

  width: 13.5rem;
  height: 22.5rem;
  border-radius: 50%;
  top: 6.8rem;
  left: 12rem;

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;
}

.cuerpo-delante div:nth-child(4) {
  position: absolute;
  display: flex;
  background-color: rgb(59, 35, 194);
  background-color: var(--naranja-claro);

  /* box-shadow: 0.3rem 0.5rem 0.5rem 0.5rem black inset; */
  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;
  width: 13.5rem;
  height: 22.5rem;
  border-radius: 50%;
  top: 6.8rem;
  left: 4.8rem;
}
/* /////////////////////////////////////// */
.cuerpo-detras div:nth-child(1) {
  position: absolute;
  display: flex;
  background-color: rgb(4, 255, 71);
  background-color: var(--naranja-claro);

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 11rem;
  height: 21.2rem;
  border-radius: 49%;
  top: 5.5rem;
  left: 7.1rem;
}

.cuerpo-detras div:nth-child(2) {
  position: absolute;
  display: flex;
  background-color: rgb(255, 4, 4);
  background-color: var(--naranja-claro);

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 11rem;
  height: 21.2rem;
  border-radius: 49%;
  top: 5.5rem;
  left: 12.1rem;
}

.cuerpo-detras div:nth-child(3) {
  position: absolute;
  display: flex;
  background-color: rgb(7, 218, 246);
  background-color: var(--naranja-claro);

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 12rem;
  height: 21.2rem;

  border-radius: 50%;
  top: 6rem;
  left: 15rem;
}

.cuerpo-detras div:nth-child(4) {
  position: absolute;
  display: flex;
  background-color: rgb(255, 4, 205);
  background-color: var(--naranja-claro);

  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--naranja-oscuro) inset;

  width: 12rem;
  height: 21.2rem;

  border-radius: 49%;
  top: 6rem;
  left: 3.1rem;
}

/* /////////////////////////////////////// */
.tallo {
  position: absolute;
}
.tallo > div:nth-child(1) {
  position: absolute;
  display: flex;
  /* background-color: rgba(4, 42, 255, 0.652); */

  width: 18rem;
  height: 20rem;
  border-radius: 35%;
  top: 8.6rem;
  left: 6.2rem;
}

.tallo > div:nth-child(1) {
  position: absolute;
  display: flex;
  background-color: var(--cafe-claro);
  width: 2.7rem;
  height: 7rem;
  top: 2rem;
  left: 13.8rem;
  border-radius: 72% 0% 0% 0%;
  box-shadow: 0 0.2rem 0.5rem 0.3rem var(--cafe-oscuro) inset;
}

.tallo > div:nth-child(1):before {
  content: '';
  background-color: var(--cafe-claro);
  width: 2.3rem;
  height: 5.5rem;
  position: absolute;
  transform: rotateZ(35deg);
  top: -1.7rem;
  left: 1rem;
  border-radius: 35% 25% 0 45%;
  box-shadow: 0 0.2rem 0.5rem 0.3rem var(--cafe-oscuro) inset;
}
.tallo > div:nth-child(1):after {
  content: '';
  background-color: var(--cafe-claro);
  width: 3rem;
  height: 3rem;
  transform: rotateZ(45deg);
  top: 4rem;
  position: absolute;
  box-shadow: 0 0rem 0.5rem 0.3rem var(--cafe-oscuro) inset;
}

.tallo > div:nth-child(2) {
  background-color: var(--cafe-claro);
  width: 0.3rem;
  height: 1.8rem;
  position: absolute;
  left: 15.1rem;
  top: 5rem;
  box-shadow: 0rem 0rem 0.4rem 0.9rem var(--cafe-claro);
  border-radius: 100%;
}

.tallo > div:nth-child(2):after {
  content: '';
  box-shadow: 0 0 15px 15px var(--cafe-oscuro);
  top: 35px;
  position: absolute;
}
/* ///////////////////////// */
.cara {
  width: 30rem;
  height: 30rem;
  /* background-color: rgba(0, 0, 255, 0.296); */
}
.ojo-izquierdo {
  background-color: var(--amarillo);
  position: absolute;
  width: 6.5rem;
  height: 3.5rem;
  top: 12.8rem;
  left: 17rem;

  border-right: 1.5rem solid rgb(17, 0, 255);
  border-bottom: 1rem solid rgb(69, 171, 255);

  border-right: 1.5rem solid rgb(17, 0, 255);
  border-bottom: 1rem solid rgb(69, 171, 255);

  clip-path: polygon(84% 0, 0 91%, 100% 98%);
  transform: rotate(-10deg);
}

.ojo-derecho {
  background-color: var(--amarillo);
  position: absolute;
  width: 6.5rem;
  height: 3.5rem;
  top: 12.8rem;
  left: 7.5rem;

  border-left: 1.5rem solid rgb(0, 4, 255);
  border-bottom: 1rem solid rgb(69, 171, 255);

  clip-path: polygon(5% 0, 100% 90%, 0 98%);
  transform: rotate(10deg);
}

.nariz {
  background-color: var(--amarillo);
  position: absolute;
  width: 5rem;
  height: 3.5rem;
  top: 16.5rem;
  left: 13rem;

  border-left: 1.3rem solid rgb(0, 38, 255);
  border-bottom: 0.7rem solid rgb(253, 108, 255);
  border-right: 1.3rem solid rgb(51, 0, 255);

  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.nariz:after {
  position: absolute;
  content: '';
  width: 4rem;
  height: 1rem;
  background-color: rgb(47, 0, 255);
  transform: rotateZ(-67deg);
  top: 0.3rem;
  left: -1.7rem;
}
.nariz:before {
  position: absolute;
  content: '';
  width: 4rem;
  height: 1rem;
  background-color: rgb(0, 34, 255);
  transform: rotateZ(67deg);
  top: 0.3rem;
  left: 0.1rem;
}
.boca-izquierda {
  /* background-color: rgba(255, 13, 247, 0.329); */
  position: absolute;

  width: 5em;
  height: 4em;
  top: 19rem;
  left: 7.1rem;
  border-bottom: 1.7em solid white;
  border-radius: 0 0 0 100%;
}

.boca-derecha {
  /* background-color: rgba(255, 13, 247, 0.323); */
  position: absolute;

  width: 5em;
  height: 4em;
  top: 19rem;
  left: 15rem;
  border-bottom: 1.7em solid white;
  border-radius: 0 0 100% 0;
}
.contenedor-dientes {
  /* background-color: rgba(0, 255, 34, 0.182); */
  width: 30rem;
  height: 30rem;
  position: relative;
}

.contenedor-dientes > div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--naranja-claro);
  /* background-color: blueviolet; */
}

.contenedor-dientes > div:nth-child(1) {
  top: 21.5rem;
  left: 14rem;
}
.contenedor-dientes > div:nth-child(2) {
  top: 21rem;
  left: 9.5rem;
  transform: rotateZ(20deg);
}
.contenedor-dientes > div:nth-child(3) {
  top: 21rem;
  left: 18.5rem;
  transform: rotateZ(-20deg);
}
.contenedor-dientes > div:nth-child(4) {
  top: 24rem;
  left: 11.5rem;
  transform: rotateZ(10deg);
}
.contenedor-dientes > div:nth-child(5) {
  top: 24rem;
  left: 16.5rem;
  transform: rotateZ(-10deg);
}

/* //////////////////////////////// */
.sombra {
  /* background-color: rgba(21, 0, 255, 0.201); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sombra div {
  background-color: black;
  width: 80%;
  height: 15%;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0rem 0rem 2rem 2rem black;
  bottom: 25px;

  animation: sombra 3s linear infinite alternate-reverse;
}

.luna {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 30px 10px 0 #ffffff;

  position: absolute;
  top: 10%;
  right: 15%;
}
/* ///////////////////////////////// */
@keyframes sombra {
  0% {
    /* background-color: blue; */
    transform: translateX(0px);
    width: 80%;
  }
  25% {
    /* background-color: yellow; */
    transform: translateX(100px);
    width: 50%;
    height: 10%;
  }
  50% {
    /* background-color: green; */
    transform: translateX(100px);
    width: 80%;
  }
  75% {
    /* background-color: aqua; */
    transform: translateX(-100px);
    width: 50%;
    height: 10%;
  }
  100% {
    /* background-color: red; */
    transform: translateX(-100px);
  }
}

@keyframes calabaza {
  0% {
    /* background-color: blue; */
    transform: translateY(0px) scale(1.1, 0.8) translateX(0px);
  }
  25% {
    /* background-color: yellow; */
    transform: translateY(-125px) scale(1, 1.05) translateX(100px);
  }
  50% {
    /* background-color: green; */
    transform: translateY(0px) scale(1.1, 0.8) translateX(100px);
  }
  75% {
    /* background-color: aqua; */
    transform: translateY(-125px) scale(1, 1.05) translateX(-100px);
  }
  100% {
    /* background-color: red; */
    transform: translateY(0px) scale(1.1, 0.8) translateX(-100px);
  }
}
